*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.purple{
    background-color:rgb(116, 148, 255);
    color:white;
    display:flex;
    height: 60px;
   
}
.purple a{
    color:white;
    margin-left: 20px;
    margin-top: 18px;

}
.text{
    margin-left: 430px;
    margin-top: 20px;
    

}
.symbol{
    display:flex;
    margin-left: 150px;
    margin-top:50px;
    
}
.symbol_color{
    color: rgb(116, 148, 255);
}
.main_body{
    display: flex;
}
.Uwsome{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
.nav_items{
    display: flex;
}
.navbar{
    display: flex;
    margin-top: 60px;
    margin-left: 126px;
}
.nav_items li a{
    margin-left: 46px;
    text-decoration: none;
    color: black;
    
}
.nav_items li {
    list-style: none;
    
}
.btn1{
    margin-left:122px;
    background-color: transparent;
    border: 2px solid rgb(116, 148, 255);
    border-radius: 20px;
    padding: 4px;
    width: 106px;
    margin-top: -11px;
}
.btn2{
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid rgb(116, 148, 255);
    border-radius: 20px;
    padding: 4px;
    width: 106px;
    margin-top: -11px;
}
.apple_flex{
    display: flex;
    margin-top: 30px;
}
.star{
    display: flex;
}
.main_flex{
    display: flex;
}
.text1{
    font-size: 65px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 135px;
}
.text2{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 40px;
}
.star_1{
    margin-left: 154px;
    margin-top: 70px;
}
.star_2{
    margin-left: 30px;
    margin-top:70px ;
}
.gap{
    margin-left: 20px;
    margin-top: 8px;
}

.vector_image img{
    margin-left: 120px;
    margin-top: -348px;
    height: 585px;
    width: 671px;
}
.btn3{
    margin-left: 150px;
    margin-top: 32px;
    background-color:rgb(116, 148, 255) ;
    color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    padding: 10px;

}
.btn4{
    margin-left: 20px;
    margin-top: 32px;
    background-color:rgb(116, 148, 255) ;
    color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    padding: 10px;

}
.symbol_flex{
    display: flex;
    margin-left: 70px;
    margin-top: 36px;

}
.icon{
    margin-left: 80px;
}
.purple1{
    margin-top: 20px;
    background-color:rgb(116, 148, 255) ;
    height: 60px;
}
